<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/watch.css">
    <link rel="icon" href="/images/web logo.png">
    <title>Movies Geeks</title>
  </head>
  <body>
    <div class="container2">
      <div class="nav">
        <div class="logo">
            <a href="">
                <img src="/images/logo web 1.png" alt="">
            </a>
        </div>
        <div class="search">
            <div class="input-search">
                <form action="/search">
                <input class="search" type="text" name="q" autocomplete="off" placeholder="Search">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
        <div class="pages">
            <ul>
                <li><a class="nav-a" href="/home">Home</a></li>
                <li><a class="nav-a" href="/about">About</a></li>
                <li><a class="nav-a" href="/tv">Tv Series</a></li>
                <li><a class="nav-a" href="/watch-later">Watch later</a></li>
            </ul>
        </div>
    </div>

      <div class="container">
        <div class="content-box">
         <div class="title">
            <h1>Movies Geeks</h1>
         </div>
         <div class="title-line">
            <h4>You can see your favourate movie here</h4>
         </div>
         <div class="wishlist-box">
            <div class="genre">
                <div class="genre-title">
                    <h4>Genres</h4>
                </div>
                <div class="genre-box">
                      <div class="genre-content">
                        <div class="genra-division">
                         <ul>
                            <li><a href="">Action</a></li>
                            <li><a href="">Adventure</a></li>
                            <li><a href="">Horror</a></li>
                            <li><a href="">Science fiction</a></li>
                            <li><a href="">Thriller</a></li>
                            <li><a href="">Romance</a></li>
                            <li><a href="">Fantasy</a></li>
                            <li><a href="">Mystery</a></li>
                            <li><a href="">Animation</a></li>
                         </ul>
                        </div>
                        <div class="genra-division">
                        <ul>
                            <li><a href="">Comedy</a></li>
                            <li><a href="">Western</a></li>
                            <li><a href="">Crime film</a></li>
                            <li><a href="">Documentary</a></li>
                            <li><a href="">History</a></li>
                            <li><a href="">Superhero</a></li>
                            <li><a href="">Art</a></li>
                            <li><a href="">Music</a></li>
                            <li><a href="">Exploitation</a></li>

                        </ul>
                            
                        </div>
                        <div class="genra-division">
                            <ul>
                                <li><a href="">Anime</a></li>
                                <li><a href="">Romantic comedy</a></li>
                                <li><a href="">Hindi cinema</a></li>
                                <li><a href="">Narrative</a></li>
                                <li><a href="">Martial Arts</a></li>
                                <li><a href="">War</a></li>
                                <li><a href="">Adult</a></li>
                                <li><a href="">Sports</a></li>
                                <li><a href="">Game</a></li>

                            </ul>  
                        </div>
                      </div>
                      <div class="show-more-genre">
                        <button>Show more</button>
                      </div>
                </div>
            </div>
            <div class="listed-movies">
                <div class="watchlist-title">
                 <h2>Watch Later</h2>
                </div>
                <div class="movie-list">
                    <ul>
                      <li>
                        <img src="" alt="">
                        <div class="img-card">
                           
                        </div>
                      </li>
                    </ul>  
                </div>

            </div>
         </div>
        </div>
      </div>
      

    </div>

  </body>
</html>
