<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Geeks</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/images/web logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container2">
        <div class="nav">
            <div class="logo">
                <a href="">
                    <img src="/images/logo web 1.png" alt="">
                </a>
            </div>
            <div class="search">
                <div class="input-search">
                    <form action="/search">
                    <input type="text" name="q" autocomplete="off" placeholder="Search">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
            <div class="pages">
                <ul>
                    <li><a class="nav-a" href="/home">Home</a></li>
                    <li><a class="nav-a" href="/about">About</a></li>
                    <li><a class="nav-a" href="">Tv Series</a></li>
                    <li><a class="nav-a" href="">Watch later</a></li>
                    <li><a href=""><button>Sign in</button></a></li>
                </ul>
            </div>
        </div>

        <div class="movies">
            <div class="movies-title">
                <h1>search Results</h1>
            </div>
                <ul>
                <% for(results of results) { %>
                    <a href="/view/<%= results.movie_name %>">
                    <li>
                        <img src="<%= results.url %>" alt="">
                    </li>
                  </a>
                 <% } %>
                </ul>
        </div>

    <script src="/js/slider.js"></script>
</body>

</html>