<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPLOAD tv series</title>
</head>
<body>
    <form method="post" action="/tv/uploads">
        <input type="text" name="id" placeholder="Enter ID" required  > <br>
        <input type="text" name="title" placeholder="Enter series Name" required >  <br> 
        <input type="text" name="url" placeholder="Enter url portrate" required >  <br>
        <input type="text" name="landscape" placeholder="Enter Url landscape" required >  <br>
        <input type="text" name="year" placeholder="Enter release year" required >  <br> 
        <input type="text" name="rating" placeholder="ratings" required >  <br>
        <input type="text" name="duration" placeholder="Enter duration" required >  <br>
        <input type="text" name="genra" placeholder="genra" required >  <br>
         <textarea name="discription" placeholder="discription" ></textarea>  <br>
         <button>Upload</button>
    </form>
</body>
</html>