<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPLOAD MOVIE</title>
</head>
<body>
    <form method="post" action="/videos" >
        <input type="text" name="video_id" placeholder="Enter ID" required  > <br>
        <input type="text" name="title" placeholder="Enter Movie Name" required >  <br> 
        <input type="text" name="landscape" placeholder="Enter landscape" required >  <br> 
         <button>Upload</button>
    </form>
</body>
</html> 