@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2 {
    width: 100%;
    display: flex;
    flex-direction: column;  
    background-color: black;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 80px;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container2 .nav .logo, .nav-a ,img {
    height: 70px;
    width: 250px;
}

.search {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.input-search form {
    width: 390px;
    height: 45px;
    border-radius: 55px;
    background-color: rgb(46, 46, 46);
    display: flex;
    align-items: center;
}

.input-search form input {
    margin-left: 14px;
    width: 320px;
    padding: 5px;
    outline: none;
    border: none;
    background: none;
    font-size: 16px;
    color: rgb(201, 201, 201);
}

.input-search form button {
    height: 45px;
    width: 45px;
    margin-left: 11px;
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
}

.input-search form button:hover {
    background-color: rgb(255, 81, 81);
}

.search-btn button i {
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.pages {
    width: 900px;
}

.container2 .nav .pages ul {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.container2 .nav .pages ul li {
    text-decoration: none;
    list-style: none;
}

.container2 .nav .pages ul li .nav-a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:  "Poppins", sans-serif ;
    padding: 5px 18px;
    border-radius: 20px;
    font-weight: 300;
}

.pages ul li a button {
    padding: 9px 22px 9px 22px;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    border: 2px solid rgb(255, 0, 0);
    font-size: 17px;
    font-family:  "Poppins", sans-serif ;
    font-weight: 500;
    color: rgb(255, 255, 255);
} 

.container2 .nav .pages ul li a button:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.container2 .nav .pages ul li .nav-a:hover{
    background-color: rgb(211, 0, 0);
}

.slider {
    height: 500px;
    width: 100%;
    display: flex;
    background-color: black;
    align-items: center;
}

.arrows {
    height: 70px;
    width: 140px;
    position: absolute;
    top: 465px;
    right: 40px;
}

.slider .arrow-left , .arrow-right {
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.352);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin-left: 12px;
    margin-top: 10px;
}

.slider .arrow-left {
    transform: rotate(180deg);
}

.frame {
    background-color: white;
    height : 100%;
    width: 100%;
    overflow: hidden;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.main-slider {
    display: flex;
    transition: all 1s ease;
}

.title {
    background-color: rgb(0, 0, 0);
}

.title h1 {
    color: white;
    font-size: 50px;
    font-family: "Poppins", sans-serif ;
    font-weight: 600;
    margin-left: 80px;
    margin-bottom: 10px;
}

.recomanded {
    height: 240px;
    width: 100%;
    margin-top: 20px;
    font-family:  "Poppins", sans-serif ;
}

.rec-title h4 {
    color: white;
    margin-left: 50px;
    font-weight: 600;
    font-size: 20px;
}

.rec-content ul {
    height: 175px;
    margin-top: 5px;
    display: flex;
    margin-left: 25px;
    overflow: scroll;
}

.rec-content ul li {
    margin-left: 30px;
    height: 165px;
    width: 270px;
    list-style: none;
    position: relative;
    cursor: pointer;
}

.rec-content ul li img {
    height: 165px;
    width: 270px;
    border-radius: 10px;
}

.img-card {
    height: 165px;
    width: 270px;
    position: absolute;
    background: #ffffff31;
    backdrop-filter: blur(8px);
    top: 0;
    display: none;
    transition: 0.3s all ease;
    border-radius: 10px;
}

.film-name h4 {
   color: white;
   margin-top: 3px;
   margin-left: 10px;
}

.fa-play {
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

.btn {
    background-color: red;
    color: white;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 700;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
}

.btn:hover {
    background-color: rgb(255, 62, 62);
}

.play {
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rec-content ul li:hover .img-card {
    display: block;
    transition: 0.3s all ease;
}

.first-card {
    margin-top: 50px;
}

.rec-content ul::-webkit-scrollbar {
   display: none;
  }

.about-film {
    display: flex;
    margin-top: 3px;
}  

.same-p {
    color: white;
    font-weight: 500;
    font-size: 14px;
    margin-left: 9px;
}

.details {
    margin-top: 3px;
    margin-left: 10px;
    width: 94%;
}

.details p {
    font-size: 9px;
    color: white;
    line-height: 12px;
}

.fa-imdb {
    font-size: 20px;
    color: rgb(255, 225, 0);
}

.pg-13 {
    margin: auto;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.age-certifiaction {
    margin-left: 9px;
}

.age-box {
    border: 1px solid rgb(255, 255, 255);
}

.imdb-ratings {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#score-imdb {
    color: rgb(255, 255, 255);
    font-weight:500;
    font-size: 14px;
    margin-left: 8px;
}

.about-movie {
    width: 60%;
    margin-left: 70px;
    margin-top: 20px;
}

.about-movie p {
    color: rgba(255, 255, 255, 0.692);

}


.fa-bars {
    margin-right:20px ;
    font-size: 30px;
    color: #ffffff;
}

.menu {
    display: none;
}

#chk1 {
   display: none;
}



@media(max-width:1360px){
    .nav .pages ul {
        position: fixed;
        top: 80px;
        right: -100%;
        background-color: #181818;
        height: calc(100vh - 80px );
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }

    .container2 .nav .search {
        margin-left: 210px;
    }

    .container2 .nav .logo {
        margin-left: 20px;
    }

    .container2 .nav .menu {
        display: block;
    }

    #chk1:checked ~ .pages ul {
        right: 0;
    }

    .slider {
        margin: 0;
        height: 280px;
    }

    .category {
        margin-top: 0;
        margin-bottom: 10px;
        height: 380px;
    }
       
    .frame {
        height: 270px ;
    }

    .s-title {
        margin-top: 5px; 
        margin-bottom: 5px; 
        margin-left: 45px ;
        font-size: 40px;
    } 

    .category-title h2 {
        margin-left: 30px;
        font-size: 40px;
        margin-top: 0;
    }
 
    .cards ul {
        margin-left: 20px;
    }

    .movie-card {
        margin-left: 10px;
        width: 172px;
        height: 310px;
    } 

      .release-title {
        margin-top: 20px;
        font-size: 60px;
    }

    .category .cards li {
        height:275px;
        width: 172px;
    }

    .category .cards li img {
        height:240px;
        width: 172px;
    }
    
    .movie-card h4 {
        font-size: 14px;
    }

    .cards {
        height: 390px;
    }

    .view-more {
        display: none;
    }

    .movie-card a button {
       width: 172px ;
       height: 30px;
    }



}


@media(max-width:960px){

    .container2 .nav .search {
        margin-left: 50px;
       }

       .container2 .nav .logo {
        margin-left: 0px;
       }
    
}


@media(max-width:786px){

       .container2 .nav .search {
         margin-left: 40px;
       }

       .slider {
        margin: 0;
        height: 230px;
       }

       .category {
        margin-top: 0;
        margin-bottom: 10px;
        height: 330px;
       }
       
       .frame {
        height: 220px ;
       }

       .s-title {
        margin-left: 45px ;
        font-size: 30px;
      } 

      .category-title h2 {
        margin-left: 30px;
        font-size: 30px;
        margin-top: 0;
      }
 
      .cards ul {
        margin-left: 20px;
        height: 280px;
      }

      .movie-card {
        margin-left: 10px;
        width: 172px;
        height: 280px;
      } 

      .release-title {
        margin-top: 20px;
        font-size: 60px;
    }

    .category .cards li {
        height:240px;
        width: 148px;
    }

    .category .cards li img {
        height:205px;
        width: 147px;
    }
    
    .movie-card h4 {
        font-size: 14px;
    }

    .cards {
        height: 280px;
    }

    .view-more {
        display: none;
    }

    .movie-card a button {
       width: 147px ;
       height: 30px;
       font-size: 12px;
    }

}

@media(max-width:960px){

    .container2 .nav .search {
        margin-left: 50px;
       }

       .container2 .nav .logo {
        margin-left: 0px;
       }
    
}


@media(max-width:777px){
  
    .container2 .nav .logo a img {
        height: 40px;
        width: 120px;
    }

    .container2 .nav .logo {
        height: 40px;
        width: 120px;
        margin-left: 5px;
    }

    .container2 .nav .search , .input-search , .search-btn {
        height: 40px;
        width: 280px;
    }

    .container2 .nav .search .input-search input {
        height: 30px;
        padding-bottom: 10px ;
        width: 120px;
    }
    
    
}



@media(max-width:640px){

    .container2 .nav .logo a img {
        height: 40px;
        width: 140px;
    }

    .container2 .nav .logo {
        height: 40px;
        width: 140px;
        margin-left: 5px;
    }

    .container2 .nav .search , .input-search , .search-btn {
        height: 40px;
        width: 230px;
    }

    .container2 .nav .search .input-search input {
        height: 30px;
        padding-bottom: 10px ;
        width: 120px;
    }

    .container2 .nav .search {
        margin-left: 40px;
      }

      .slider {
       margin: 0;
       height: 230px;
      }

      .category {
       margin-top: 0;
       margin-bottom: 10px;
       height: 330px;
      }
      
      .frame {
       height: 220px ;
      }

      .s-title {
       margin-left: 45px ;
       font-size: 30px;
     } 

     .category-title h2 {
       margin-left: 30px;
       font-size: 30px;
       margin-top: 0;
     }

     .cards ul {
       margin-left: 20px;
       height: 280px;
     }

     .movie-card {
       margin-left: 10px;
       width: 172px;
       height: 280px;
     } 

     .release-title {
       margin-top: 20px;
       font-size: 60px;
   }

   .category .cards li {
       height:240px;
       width: 148px;
   }

   .category .cards li img {
       height:205px;
       width: 147px;
   }
   
   .movie-card h4 {
       font-size: 14px;
   }

   .cards {
       height: 280px;
   }

   .view-more {
       display: none;
   }

   .movie-card a button {
      width: 147px ;
      height: 30px;
      font-size: 12px;
   }
  
}

@media(max-width:475px){
    .container2 .nav .search .input-search {
        height: 30px;
        width: 180px;
    }


    .nav .pages ul {
        top: 60px;
        height: calc(100vh - 60px );
       }


    .container2 .nav .logo a img {
        height: 35px;
        width: 90px;
    }

    .fa-magnifying-glass button {
        height: 5px;
        width: 5px;
    }

    .container2 .nav .search .input-search input {
        height: 30px;
        padding-bottom: 18px ;
        margin-left: 5px;
        font-size: 14px;
        width: 170px;
    }

    .nav {
        height: 60px;
    }

    .container2 .nav .logo {
        margin-left: 5px;
    }

    .container2 .nav .search {
        margin-left: 10px;
      }

      .slider {
       margin: 0;
       height: 160px;
      }

      .slider .arrow-left , .arrow-right {
        height: 30px;
      }

      .category {
       margin-top: 0;
       height: 260px;
      }
      
      .frame {
       height: 150px ;
      }

      .main-slider .image {
        height: 150px;
      }

      .s-title {
       margin-left: 45px ;
       font-size: 30px;
     } 

     .category-title h2 {
       margin-left: 30px;
       font-size: 20px;
       margin-top: 0;
     }

     .cards ul {
       margin-left: 20px;
       height: 220px;
     }

     .movie-card {
       margin-left: 10px;
       width: 172px;
       height: 220px;
     } 

     .release-title {
       margin-top: 20px;
       font-size: 30px;
   }

   .category .cards li {
       height:180px;
       width: 110px;
   }

   .category .cards li img {
      height:150px;
      width: 109px;
   }
   
   .movie-card h4 {
       font-size: 14px;
   }

   .cards {
    height: 220px;
   }

   .view-more {
       display: none;
   }

   .movie-card a button {
    width: 108px;
      height: 22px;
      font-size: 8px;
   }

   .container2 .nav .search .search-btn .fa-magnifying-glass {
    font-size: 15px;
   }

   .container2 .nav .search .search-btn button {
    height: 10px;
    width: 10px;
   }

   .container2 .nav .search .search-btn {
    height: 10px;
    width: 10px;
   }

}



/* scrollbar */


body {
    --sb-track-color: #868686;
    --sb-thumb-color: #464646;
    --sb-size: 10px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }

}